-#  This file is app/views/movies/index.html.haml
-# session sort, ratings
-# = session['sort'].inspect 
-# = session['ratings'].inspect
-# <br>
-# params sort, ratings
-# = params['sort'].inspect 
-# = params['ratings'].inspect

%h2 All Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form' do 
  Include:
  - @ratings_all.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", value = 1,  checked=@selected_ratings.include?(rating), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit', :class =>  'btn btn-primary'


%table#movies.table.table-striped.col-md-12
  %thead
    %tr{:style => "background-color:  #ffd699; "}
      - if params['sort'] == "title"
        %th{:style => "background-color: yellow; "}= link_to "Movie Title", {'sort' => "title"  }, {:id => "titles", :class => "text-danger hilite"}   
      - else
        %th= link_to "Movie Title", {'sort' => "title"}, {:id => "titles"}       
      %th Rating 
      - if params['sort'] == "release_date"      
        %th{:style => "background-color: yellow;"}= link_to "Release Date", {'sort' => "release_date"}, {:id => "release_dates", :class => "text-danger hilite"}
      - else
        %th= link_to "Release Date", {'sort' => "release_date"}, {:id => "release_dates"}
      %th More Info

    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
